<style>
    .product-price {
        text-align: center;
        font-size: 16px;
    }


</style>

{% extends 'product/product_base.html' %}

{% block product_content %}

<form method="GET" action="{% url 'product:search_categories' %}">
    <div class="form-group">
        <label for="category_name">类别搜索:</label>
        <input type="text" class="form-control" id="category_name" name="category_name">
    </div>
    <button type="submit" class="btn btn-primary">搜索</button>
</form>
{% for i in category_with_product_list %}
<div class="container headerdiv">
    <h3 class="headertext" align="center" id="{{i.category_id}}">『{{ i.category_name }}』</h3>
</div>
<div>
    <div class="container">
        <div class="row">

            {% for j in product_list %}
            {% if j.category == i %}
            <div class="col-lg-4 d-flex align-items-stretch">
                <div class="card cardmodify cardbackground" style="width: 35rem;">
                    <div class="card-header">
                        <h5><b>{{ j.product_name }}</b></h5>
                    </div>
                    <img class="card-img-top" src="{{ j.product_photo.url }}" alt="Card image cap" height="200px"
                         width="100px">
                    <div class="card-body d-flex flex-column" data-cat="{{ i.dish_category }}">
                        <p class="card-text">单位数量:{{ j.product_quantity }}</p>
                        <p class="card-text">库存量:{{ j.product_inventory }}</p>
                        <p class="card-text">单价:{{ j.product_price }}</p>

                        <div class="align-self-end container">
                            <a class="btn btn-success btn-sm addtocartbutton"
                               href="{{ j.get_order_url }}"><font size="3px">加入订单！</font></a>
                        </div>

                    </div>
                </div>
            </div>
            {% endif %}
            {% endfor %}

        </div>
    </div>
</div>
{% endfor %}

{% endblock %}
